[submodule "docs/airflow-helper"]
	path = docs/airflow-helper
	url = https://github.com/harryalexanderdunn/airflow-helper.git
[submodule "docs/streamlit-helper"]
	path = docs/streamlit-helper
	url = https://github.com/harryalexanderdunn/streamlit-helper.git
[submodule "docs/bq-dataform-helper"]
	path = docs/bq-dataform-helper
	url = https://github.com/harryalexanderdunn/dataform-helper.git
[submodule "docs/gcp-helper"]
	path = docs/gcp-helper
	url = https://github.com/harryalexanderdunn/gcp-helper.git
